
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilelabel_2 */
.Attendance_mobilelabel_2 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecontainer */
.ui-content.Attendance_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilefooter */
.Attendance_mobilefooter {
	min-height:38px;
}