
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Lessons_mobilecontainer {
	padding: 20px 15px 15px 15px;
}
/* mobilegrid_62 */
.Lessons_mobilegrid_62 {
	height: auto;
	width:100%;
	margin: 4px 0px 10px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Lessons_mobilegrid_62_wrapper {

}
.Lessons_mobilegrid_62 > tr > td {
	vertical-align: top;
}
.Lessons_mobilegrid_62_row_0, .Lessons_mobilegrid_62_row_0 > td {
	height: 30px
}
/* mobilegridcell_63 */
.Lessons_mobilegridcell_63 {
	height:30px !important;
	width:50px;
	padding: 2px 2px 2px 2px;
}
.Lessons_mobilegridcell_63 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_61 */
#Lessons_mobilebutton_61 {

}
.ui-btn.Lessons_mobilebutton_61 {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_64 */
.Lessons_mobilegridcell_64 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Lessons_mobilegridcell_64 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_67 */
.Lessons_mobilelabel_67 {
	text-decoration: none; font-weight: normal; color: #ffffff; text-align: left; font-family: Helvetica; font-size: 22px;
	margin: 7px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* lessonSearchBar */
.Lessons_lessonSearchBar {
	margin: 180px 5px 4px 5px;
}
#Lessons_lessonSearchBar-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* mobilelabel_54 */
.Lessons_mobilelabel_54 {
	text-decoration: none; font-weight: normal; color: #939393; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 20px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_68 */
.Lessons_mobilegrid_68 {
	height: auto;
	width:100%;
	margin: 4px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Lessons_mobilegrid_68_wrapper {

}
.Lessons_mobilegrid_68 > tr > td {
	vertical-align: top;
}
.Lessons_mobilegrid_68_row_0, .Lessons_mobilegrid_68_row_0 > td {
	height: 30px
}
/* mobilegridcell_69 */
.Lessons_mobilegridcell_69 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Lessons_mobilegridcell_69 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* subject_select */
.Lessons_subject_select {
	margin: 0px 5px 0px 5px;
}
/* mobilegridcell_70 */
.Lessons_mobilegridcell_70 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Lessons_mobilegridcell_70 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* gradeSelect */
.Lessons_gradeSelect {
	margin: 0px 5px 4px 5px;
}
/* mobilegrid_49 */
.Lessons_mobilegrid_49 {
	height: auto;
	width:100%;
	margin: 0px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Lessons_mobilegrid_49_wrapper {
	display: none;
}
.Lessons_mobilegrid_49 > tr > td {
	vertical-align: top;
}
.Lessons_mobilegrid_49_row_0, .Lessons_mobilegrid_49_row_0 > td {
	height: 30px
}
/* mobilegridcell_50 */
.Lessons_mobilegridcell_50 {
	height:30px !important;
	width:136px;
	padding: 2px 2px 2px 2px;
}
.Lessons_mobilegridcell_50 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* search */
#Lessons_search {

}
.ui-btn.Lessons_search {
	margin: 0px 15px 4px 15px;
}
/* searchResultGrid */
.Lessons_searchResultGrid {
	height: auto;
	width:100%;
	margin: 10px 0px 10px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Lessons_searchResultGrid_wrapper {

}
.Lessons_searchResultGrid > tr > td {
	vertical-align: top;
}
.Lessons_searchResultGrid_row_0, .Lessons_searchResultGrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_74 */
.Lessons_mobilegridcell_74 {
	height:30px !important;
	width:5%;
	padding: 8px 2px 2px 2px;
}
.Lessons_mobilegridcell_74 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* sequence_label */
.Lessons_sequence_label {
	text-decoration: none; font-weight: normal; color: #939393; text-align: center; font-family: Helvetica; font-size: 13px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_75 */
.Lessons_mobilegridcell_75 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Lessons_mobilegridcell_75 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* subject_label */
.Lessons_subject_label {
	text-decoration: none; font-weight: normal; color: #ff725e; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 2px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* topic_label */
.Lessons_topic_label {
	text-decoration: none; font-weight: normal; color: #686868; text-align: left; font-family: Helvetica; font-size: 13px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_78 */
.Lessons_mobilegridcell_78 {
	height:30px !important;
	width:auto;
	padding: 10px 30px 2px 30px;
}
.Lessons_mobilegridcell_78 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* incompleteButton */
#Lessons_incompleteButton {
	display: none;
}
.ui-btn.Lessons_incompleteButton {
	margin: 4px 0px 4px 0px;
}
/* completeButton */
#Lessons_completeButton {
	display: none;
}
.ui-btn.Lessons_completeButton {
	margin: 4px 0px 4px 0px;
}
/* noResults */
.Lessons_noResults {
	text-decoration: none; font-weight: normal; color: #939393; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 10px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.Lessons_mobilefooter {
	min-height:38px;
}