
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.store_mobilecontainer {
	padding: 20px 15px 15px 15px;
}
/* mobilegrid_72 */
.store_mobilegrid_72 {
	height: auto;
	width:100%;
	margin: 4px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_mobilegrid_72_wrapper {

}
.store_mobilegrid_72 > tr > td {
	vertical-align: top;
}
.store_mobilegrid_72_row_0, .store_mobilegrid_72_row_0 > td {
	height: 30px
}
/* mobilegridcell_73 */
.store_mobilegridcell_73 {
	height:30px !important;
	width:50px;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_73 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_77 */
#store_mobilebutton_77 {

}
.ui-btn.store_mobilebutton_77 {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_74 */
.store_mobilegridcell_74 {
	height:30px !important;
	width:167px;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_74 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_78 */
.store_mobilelabel_78 {
	text-decoration: none; font-weight: normal; color: #ffffff; text-align: left; font-family: Helvetica; font-size: 22px;
	margin: 7px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_79 */
.store_mobilegridcell_79 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_79 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_61 */
#store_mobilebutton_61 {

}
.ui-btn.store_mobilebutton_61 {
	margin: 4px 5px 4px 5px;
}
/* topPagePoints */
.store_topPagePoints {
	text-decoration: none; font-weight: normal; color: #fcf6c4; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 8px 6px 150px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_3 */
.store_mobilegrid_3 {
	height: 300px;
	width:47%;
	margin: 4px 0px 10px 5px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_mobilegrid_3_wrapper {

}
.store_mobilegrid_3 > tr > td {
	vertical-align: top;
}
.store_mobilegrid_3_row_0, .store_mobilegrid_3_row_0 > td {
	height: 30px
}
/* mobilegridcell_4 */
.store_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 10px 2px 10px 2px;
}
.store_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* prizeName */
.store_prizeName {
	text-decoration: none; font-weight: normal; color: #ff725e; text-align: left; font-family: Helvetica; font-size: 15px;
	margin: 8px 0px 0px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* prizeImage */
.store_prizeImage {
	margin: 0px 0px 0px 0px;
	width: 90%; height: auto;
	display: block;
}
/* soldOut */
.store_soldOut {
	text-decoration: none; font-weight: normal; color: #333333; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 10px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* prizeDescription */
.store_prizeDescription {
	text-decoration: none; font-weight: normal; color: #939393; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 0px 0px 0px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* prizePoints */
.store_prizePoints {
	text-decoration: none; font-weight: normal; color: #4d9dd6; text-align: left; font-family: Helvetica; font-size: 15px;
	margin: 0px 0px 0px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* qty_label */
.store_qty_label {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.store_mobilefooter {
	min-height:38px;
}
/* finalStorePopup */
.store_finalStorePopup {
	width: auto;
}
div.store_finalStorePopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.store_finalStorePopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
	padding: 20px 10px 20px 10px;
}
/* mobilegrid_38 */
.store_mobilegrid_38 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_mobilegrid_38_wrapper {

}
.store_mobilegrid_38 > tr > td {
	vertical-align: top;
}
.store_mobilegrid_38_row_0, .store_mobilegrid_38_row_0 > td {
	height: 30px
}
/* mobilegridcell_39 */
.store_mobilegridcell_39 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 15px 2px;
}
.store_mobilegridcell_39 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* imageThumb */
.store_imageThumb {
	margin: 4px 0px 4px 0px;
	width: auto; height: 300px;
	display: block;
}
/* productName */
.store_productName {
	text-decoration: none; font-weight: normal; color: #333333; text-align: center; font-family: Helvetica; font-size: 17px;
	margin: 4px 20px 0px 20px;
	word-wrap: break-word;
	white-space: normal;
}
/* pointsPopUp */
.store_pointsPopUp {
	text-decoration: none; font-weight: normal; color: #ff725e; text-align: center; font-family: Helvetica; font-size: 15px;
	margin: 0px 0px 10px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* prizeID */
.store_prizeID {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* quantityLabel */
.store_quantityLabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* thisCostLabel */
.store_thisCostLabel {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* notEnoughGrid */
.store_notEnoughGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_notEnoughGrid_wrapper {
	display: none;
}
.store_notEnoughGrid > tr > td {
	vertical-align: top;
}
.store_notEnoughGrid_row_0, .store_notEnoughGrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_44 */
.store_mobilegridcell_44 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	background-color: #fff9f9;
	border-color: #ff725e; border-width: 1px; border-style: solid;
}
.store_mobilegridcell_44 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_48 */
.store_mobilelabel_48 {
	text-decoration: none; font-weight: normal; color: #ff725e; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 10px 4px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* successGrid */
.store_successGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_successGrid_wrapper {
	display: none;
}
.store_successGrid > tr > td {
	vertical-align: top;
}
.store_successGrid_row_0, .store_successGrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_50 */
.store_mobilegridcell_50 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	background-color: #f7fcf7;
	border-color: #35a85d; border-width: 1px; border-style: solid;
}
.store_mobilegridcell_50 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_54 */
.store_mobilelabel_54 {
	text-decoration: none; font-weight: normal; color: #35a85d; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* checkoutGrid */
.store_checkoutGrid {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_checkoutGrid_wrapper {

}
.store_checkoutGrid > tr > td {
	vertical-align: top;
}
.store_checkoutGrid_row_0, .store_checkoutGrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_81 */
.store_mobilegridcell_81 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.store_mobilegridcell_81 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_25 */
.store_mobilelabel_25 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 15px;
	margin: 20px 0px 8px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* notEnoughLabel */
.store_notEnoughLabel {
	text-decoration: none; font-weight: normal; color: #5d3ddb; text-align: center; font-family: Helvetica; font-size: 13px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_87 */
.store_mobilegrid_87 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_mobilegrid_87_wrapper {

}
.store_mobilegrid_87 > tr > td {
	vertical-align: top;
}
.store_mobilegrid_87_row_0, .store_mobilegrid_87_row_0 > td {
	height: 30px
}
/* mobilegridcell_88 */
.store_mobilegridcell_88 {
	height:30px !important;
	width:75px;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_88 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_93 */
.store_mobilelabel_93 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_89 */
.store_mobilegridcell_89 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_89 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* qty_input */
.store_qty_input {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_94 */
.store_mobilegridcell_94 {
	height:30px !important;
	width:80px;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_94 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* plusQty_button */
#store_plusQty_button {

}
.ui-btn.store_plusQty_button {
	margin: 4px 5px 4px 5px;
}
/* minusQty_button */
#store_minusQty_button {

}
.ui-btn.store_minusQty_button {
	margin: 4px 5px 4px 5px;
}
/* yesNoGrid */
.store_yesNoGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_yesNoGrid_wrapper {

}
.store_yesNoGrid > tr > td {
	vertical-align: top;
}
.store_yesNoGrid_row_0, .store_yesNoGrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_28 */
.store_mobilegridcell_28 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* yesButton */
#store_yesButton {

}
.ui-btn.store_yesButton {
	margin: 0px 0px 0px 0px;
}
/* mobilegridcell_29 */
.store_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.store_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* noButton */
#store_noButton {

}
.ui-btn.store_noButton {
	margin: 0px 0px 0px 0px;
}
/* mobilelabel_85 */
.store_mobilelabel_85 {
	text-decoration: none; font-weight: normal; color: #939393; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 10px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilepopup_62 */
.store_mobilepopup_62 {
	width: auto;
}
div.store_mobilepopup_62 {
	max-height: 100vh;
	box-sizing: border-box;
}
div.store_mobilepopup_62 .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}
/* mobilelabel_63 */
.store_mobilelabel_63 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 17px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_64 */
.store_mobilegrid_64 {
	height: auto;
	width:100%;
	margin: 4px 0px 10px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.store_mobilegrid_64_wrapper {

}
.store_mobilegrid_64 > tr > td {
	vertical-align: top;
}
.store_mobilegrid_64_row_0, .store_mobilegrid_64_row_0 > td {
	height: 30px
}
/* mobilegridcell_65 */
.store_mobilegridcell_65 {
	height:30px !important;
	width:66px;
	padding: 15px 2px 15px 2px;
}
.store_mobilegridcell_65 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* itemImage */
.store_itemImage {
	margin: 0px 0px 4px 0px;
	width: auto; height: 50px;
	display: block;
}
/* mobilegridcell_66 */
.store_mobilegridcell_66 {
	height:30px !important;
	width:171px;
	padding: 2px 5px 2px 5px;
}
.store_mobilegridcell_66 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* itemName */
.store_itemName {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 20px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_69 */
.store_mobilegridcell_69 {
	height:30px !important;
	width:auto;
	padding: 15px 15px 2px 0px;
}
.store_mobilegridcell_69 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* status */
.store_status {
	text-decoration: none; font-weight: normal; color: #ff725e; text-align: right; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dateplaced */
.store_dateplaced {
	text-decoration: none; font-weight: normal; color: #939393; text-align: right; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_70 */
.store_mobilelabel_70 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #ffffff; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}