<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-resource-generator"
  version="0.0.1">

  <name>Appery.io Resource Generator</name>

  <description>
    This plugin uses cordova-res to generate icons and splashscreens
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <platform name="android">
    <hook type="before_prepare" src="scripts/android/before_prepare.js" />
  </platform>

  <platform name="ios">
    <hook type="before_prepare" src="scripts/ios/before_prepare.js" />
  </platform>

  <issue>https://github.com/apperyio/cordova-plugin-resource-generator/issues</issue>
  <author>Andrii Iakovenko</author>
</plugin>
